div.ledgerRows {
    font-family: "Arial", Times, serif;
    text-align: left;
    border-collapse: collapse;
  }
  .divTable.ledgerRows .divTableCell, .divTable.ledgerRows .divTableHead {
    padding: 3px 2px;
  }
  .divTable.ledgerRows .divTableBody .divTableCell {
    font-size: 2em;
  }
  .divTable.ledgerRows .number {
    text-align: right;
  }
  .divTable.ledgerRows .alternateShading {
    background: #D0E4F5;
  }
    .divTable.ledgerRows .divTableHeading {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
  }
  .divTable.ledgerRows .divTableHeading .divTableHead {
    font-size: 2em;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
    padding:5px 40px;
  }
  .divTable.ledgerRows .divTableHeading .divTableHead:first-child {
    border-left: none;
  }
  
  .ledgerRows .tableFootStyle {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
  }
  .ledgerRows .tableFootStyle {
    font-size: 2em;
  }

  /* CSS Table */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}
  